################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/AirTraffic.Mobile/AirTraffic.Mobile/AirTraffic.Mobile/bin/Debug/netstandard2.0
